@font-face {
  font-family: BoutrosART;
  src: url("../fonts/alfont_com_AlFont_com_BoutrosART-Medium.otf");
}
* {
  padding: 0px;
  margin: 0px;
  font-family: BoutrosART;
}

body{
  background-color: $colbgsecondary !important;
}
