.accordion {
	margin-bottom: 1rem;
	&__main {
		margin-bottom: 1rem;
	}
	&__category {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: inherit;

		img {
			width: 11rem;
			height: 3rem;
			display: inline-block;
		}

		p {
			margin-bottom: 0;
			font-size: 1.5rem;
			display: inline-block;
		}
	}
}

.MuiAccordionDetails-root {
	display: block !important;
	padding: 0;
}

@media (max-width: 500px) {
	.accordion {
		&__category {
			p {
				display: none;
			}
		}
        h4{
            font-size: 1rem;
        }
	}
}
