.footer {
    background-color: $colbgfooter;
    color: $colbg;
    text-align: center;
    margin-bottom: -2rem;
    .row {
        padding: 3.5rem 0rem;
    }
    // &__logo {
    //     img {
    //         width: 100px !important;
    //     }
    // }
    &__content{
        text-decoration: none;
    }
}