.products {
	h4 {
		text-align: end;
		i {
			color: $colmain;
		}
	}
	&__card {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-column-gap: 1rem;
	}
}

@media (max-width: 500px) {
	.products {
		&__card {
			display: grid;
			grid-template-columns: auto;
			grid-column-gap: 1rem;
		}
	}
}

@media (min-width: 500px) and (max-width: 1000px) {
	.products {
		&__card {
			display: grid;
			grid-template-columns: auto auto;
			grid-column-gap: 1rem;
		}
	}
}
