.addProduct {
  text-align: center;
  padding: 3rem;
  padding-top: 1rem;
  // img{
  //     width: 20rem;
  //     margin: 2rem;
  // }
  form {
    background-color: $colwhite;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 2rem;
    // text-align: center;
    display: grid;
    justify-content: center;
    img {
      height: 10rem;
    }
  }

  &__imageTextUpload {
    text-align: right;
    color: #54656d;
  }
  &__imageUpload {
    border: 0.15rem dashed lightgray;
    border-radius: 0.3rem;
    padding: 2rem;
  }
  &__header {
    text-align: center;
    color: #3e3d42;
    padding-top: 2rem;
  }
}

// @media only screen and (max-width: 70rem) {
//   .addProduct__form {
//     width: 50ch !important;
//   }
// }

// .addCategoryModal__container {
//   padding: 1rem;
//   margin: 3rem;
//   background-color: red !important;
// }

.addCategory__imageUpload {
  height: max-content;
  border: 0.1rem solid #f5f5f5;
  background-color: #e8e8e8;
  border-radius: 0.3rem;
}
