.herosection {
	background-color: $colbg;
	padding: 5rem 0rem;
	background-image: url('../images/bg.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20% 90%;
	&__video {
		video {
			border-radius: 1rem;
			width: 100%;
		}
	}

	&__para {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			padding-bottom: 2rem;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: 800px) {
	.herosection {
		padding: 1rem 0rem;

		h3 {
			font-size: 1rem;
			padding: 1rem 0rem;
		}
	}
}
