.maintenance {
  background-color: $colbg;
  &__container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 47% 23%;
    &__header {
      text-align: center;
      &__img {
        width: 30%;
      }
      &__h5 {
        position: relative;
        bottom: -2rem;
      }
    }
    &__image {
      text-align: center;
      &__img {
        height: 24rem;
      }
    }
    &__title {
      text-align: center;
    }
    &__slider {
      margin-left: 5rem;
      &__forMobile {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 70rem) {
  .maintenance__container {
    grid-template-columns: 100%;
    height: max-content;
    margin-bottom: 3rem;

    &__side__image__img {
      display: none;
    }

    &__slider__forMobile {
      display: block;
    }
    &__slider {
      display: none;
    }
    &__middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }
  }
}
