.randomproducts {
	background-color: $colbgsecondary;
	padding: 3rem 0rem;
	overflow: hidden;
	&__name {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		h4 {
			border-bottom: 2px solid $colbgfooter;
			i {
				color: $colmain;
			}
		}
	}
	&__card {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-column-gap: 1rem;
		// grid-row-gap: 0rem;
	}
}

@media (max-width: 400px) {
	.randomproducts {
		&__card {
			display: grid;
			grid-template-columns: auto;
			grid-column-gap: 1rem;
		}
	}
}

@media  (min-width: 401px) and (max-width: 1000px) {
	.randomproducts {
		&__card {
			display: grid;
			grid-template-columns: auto auto;
			grid-column-gap: 1rem;
		}
	}
}